alembic==1.13.2
asgiref==3.8.1
attrs==18.2.0
blinker==1.8.2
click==8.1.7
command-not-found==0.3
contourpy==1.2.1
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.51.0
greenlet==3.0.3
httplib2==0.20.2
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
joblib==1.4.2
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.0
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.0
packaging==24.0
pandas==2.2.2
pdflatex==0.1.3
pillow==10.3.0
psycopg2-binary==2.9.9
PyGObject==3.42.1
PyJWT==2.3.0
pymongo==4.7.2
pyparsing==2.4.7
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==5.4.1
scikit-learn==1.4.2
scipy==1.13.0
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==2.0.32
ssh-import-id==5.11
systemd-python==234
threadpoolctl==3.5.0
typing_extensions==4.11.0
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
wadllib==1.3.6
Werkzeug==3.0.3
WTForms==3.1.2
zipp==1.0.0
