alembic==1.13.2
# Flask
Flask==3.0.3
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
flask-cors==4.0.1
# JWT
flask-jwt-extended==4.6.0
# Dotenv
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
# PosrgreSQL
psycopg2-binary==2.9.9
