@import url("../styles/global/fonts.css");

.accessories,
.bag-accessor,
.green-man,
.gym-woman,
.violet-woman,
.header-clothe,
.off-clothe {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
}

.grey-man {
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
}

.accessories {
  background-image: url('../assets/Home_images/Gymshark-Cap.jpg');
}

.bag-accessor {
  background-image: url('../assets/Home_images/Nike-Brasilia-Bag.png');
}

.green-man {
  background-image: url('../assets/Home_images/green-man.jpg');
}

.grey-man {
  background-image: url('../assets/Home_images/grey-gym-man.jpg');
}

.gym-woman {
  background-image: url('../assets/Home_images/white-background-gym-woman.jpg');
}

.violet-woman {
  background-image: url('../assets/Home_images/violet-women.jpeg');
  color: var(--color-white);
}

.header-clothe {
  background-image: url('../assets/Home_images/Oversized.jpg');
}

.off-clothe {
  background-image: url('../assets/Home_images/urban-clothe.jpg');
}